.btnSection {
  display: flex;

  width: 300px;
}
.btn {
  padding: 10px;
  border-radius: 6px;
  border: 2px solid #000;

  width: 30%;
  display: block;

  outline: none;
  font-weight: bold;
}
.btn:hover {
  background: rgba(45, 33, 207, 0.9);
  cursor: pointer;
}
